@model CardResponse;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Deck of Cards</h1>
    Your Deck Id is: @Model.deck_id <br/>
    Cards Remaining: @Model.remaining <br/> <br/>

</div>

<div>
    <h2>Your Cards Are:</h2>
    @foreach(Card card in Model.cards)
    {
            <img src="@card.image" />
            @*@card.code*@
    }
</div>

<a href="/home/drawfive?deck_id=@Model.deck_id" style="align:center">Draw Five More</a>
